// Variables
$services-icons: #f8f8ff;

// Xlarge text as Utility class
.xl-text {
    font-size: 75px;
}

// Change the color hover in the navigation menu Contact button
.btn-outline-secondary {
    color: var(--bs-secondary);
}
// & reference to the parent class in sass
.btn-outline-secondary {
    &:hover {
      color: #fff;
    }
}

// Navigation bar change color with transition when scroll down with JS
.navbar {
    transition: all 0.5s ease-in-out;
}
  
.navbar-sticky {
    background: #fff;
    opacity: 0.9;
    box-shadow: 0 0 2px rgba(#000, 0.5);
}

// Position the Background Images absolute -200px left and rigth
.header .decoration-star {
    top: 80px;
    left: -200px;
    width: 500px;
    opacity: 0.7;
}
  
.header .decoration-star-2 {
    top: 80px;
    right: -200px;
    width: 500px;
    opacity: 0.7;
}

// Details 1 Section background image
.details .decoration-star {
    left: -200px;
    width: 500px;
}
.details .decoration-star-2 {
    right: -200px;
    width: 500px;
    opacity: 0.7;
}

// Details 2 Section background image
.details-2 .decoration-star {
    right: -200px;
    width: 500px;
    opacity: 0.7;
}
// Projects links
.projects-link {
    text-decoration: none;    
    color: var(--bs-secondary);
    font-weight: 500;
    font-size: 16px;
    &:hover{
        color: var(--bs-secondary);
        text-decoration: underline;    
        text-decoration-color: var(--bs-secondary);
        text-decoration-thickness: 2px;  
    }
}

// Contact Image background
.contact .decoration-star {
    left: -300px;
    width: 600px;
    opacity: 0.9;
}
  

// Small Screens
@media (max-width: 992px) {
    .xl-text {
        font-size: 50px;
    }
    // Add margin in the Hamburguer Menu
    .navbar {
        .btn-outline-secondary {
          margin-top: 20px;
          margin-bottom: 40px;
        }
        .nav-link {
          margin-top: 20px;
        }
      }
    // Header
    .header {
        margin-top: 0px !important;
        text-align: center;
    }
    // Background Images
    .header .decoration-star {
        left: -100px;
        width: 250px;
    }    
    .header .decoration-star-2 {
        right: -100px;
        width: 250px;
    }    
    .header .image-container {
        margin-top: 30px;
    }
    // Details Image Background
    .details .decoration-star {
        left: -50px;
        width: 300px;
    }
    .details .decoration-star-2 {
        bottom: 100px;
        right: -50px;
        width: 300px;
    }
    // Details 2 
    .details-2 {
        margin-top: 20px !important;
    }
    
    .details-2 .decoration-star {
        top: 300px;
    }
    
    
}

@media (max-width: 768px) {
    // Services, border and margin icons in small screens
    .services {
        .col-md-4 {
            background-color: $services-icons;
            border-bottom: 1px #ccc solid;
            padding: 20px 0;
          }
        .first-row {
            margin-bottom: 0px !important;
        }
    }
    .projects {
        .card-body {
            text-align: center;
        }
    }
}